@media print {
    .o_web_client:has(.o_knowledge_form_view) {
        .o-we-toolbar {
            display: none !important;
        }

        .o-wysiwyg {
            .o-we-hint:after {
                content: ""; // hide text hint
            }
        }

        .o-wysiwyg-local-overlay {
            display: none; // hide editor decorators (comments, anchor icons, etc)
        }

        .o_knowledge_form_view {
            border-top: 0px !important;  // remove useless border, needs import to bypass bootstrap

            .o_scroll_view,
            .o_scroll_view_lg {
                position: static;
                overflow: visible;
            }

            .o_embedded_toolbar { // hide embedded toolbars & buttons
                display: none !important; // need !important to bypass the d-flex
            }

            [data-embedded="view"] {
                // maps, kanban & calendar views are not working so well in print mode
                // (nothing to do with knowledge, they look a bit broken in standard as well)
                // let's hide them still to have better looking printed articles
                .o_map_view,
                .o_kanban_view,
                .o_calendar_view {
                    display: none;
                }
            }
        }

        .o_form_view_container:has(.o_knowledge_form_view) {
            width: unset !important;
        }
    }

    .o_web_client:has(.o_knowledge_form_view) > :not(.o_action_manager) {
        display: none; // hide the navbar and floating UI (open dropdowns, popovers) from the print
    }
}
