.journal-create-wizard-card {
    .card-body {
        background: linear-gradient(to right, $card-bg, rgba($card-bg, .95));
    }

    &:hover,
    &:focus {
        background: $o-action;
        outline: none;
    }

    &:focus {
        box-shadow: 0 0 0 2px rgba($o-action, 0.5);
    }

    .o_tile {
        background: url('/account_accountant/static/src/img/journal_create_wizard/tile.svg') center no-repeat;
        background-size: contain;
        aspect-ratio: 1 / 1;
        inset: 0;

        img {
            inset: 0;
            transform: rotateY(45deg) rotateZ(22deg) rotateX(20deg) translate(-7%, 5%);
        }

        &.o_tile_back {
            background-position: right center;

            img {
                transform: rotateY(45deg) rotateZ(22deg) rotateX(20deg) translate(50%, -25%);
            }
        }
    }
}
