// = Popovers
// ============================================================================
// No CSS hacks, variables overrides only

.o_popover {
    --border-color: #{$popover-border-color};

    .table {
        --table-bg: #{$popover-bg};
    }

    .o_input {
        --o-input-border-color: #{$popover-border-color};
    }

    .form-range {
        &::-moz-range-track {
            background: darken($popover-bg, 10%);
        }
        &::-webkit-slider-runnable-track {
            background: darken($popover-bg, 10%);
        }
    }

    .btn-secondary {
        --#{$prefix}btn-bg: #{lighten($popover-bg, 10%)};
        --#{$prefix}btn-border-color: #{lighten($popover-bg, 10%)};
        --#{$prefix}btn-hover-bg: #{lighten($popover-bg, 15%)};
        --#{$prefix}btn-hover-border-color: #{lighten($popover-bg, 15%)};
    }

    .o_form_view {
        &.o_form_nosheet, .o_form_nosheet, .o_form_sheet {
            background-color: $popover-bg;
        }
    }
}
